In [32]:
import regex as re

# to handle datasets
import pandas as pd
import numpy as np

# to divide train and test set
from sklearn.model_selection import train_test_split

# feature scaling
from sklearn.preprocessing import StandardScaler

# to build the models
from sklearn.linear_model import LogisticRegression

# to evaluate the models
from sklearn.metrics import accuracy_score, roc_auc_score

# to persist the model and the scaler
import joblib

# ========== NEW IMPORTS ========
# Respect to notebook 02-Predicting-Survival-Titanic-Solution

# pipeline

from sklearn.pipeline import Pipeline

# for the preprocessors
from sklearn.base import BaseEstimator, TransformerMixin


# for imputation
from feature_engine.imputation import (
    AddMissingIndicator,
    MeanMedianImputer,
    CategoricalImputer,
)

# for encoding categorical variables
from feature_engine.encoding import (
    RareLabelEncoder,
    OneHotEncoder
)

## Prepare the data set

In [33]:
# load the data - it is available open source and online

data = pd.read_csv('clf_model/datasets/train_titanic.csv')

In [34]:
# replace interrogation marks by NaN values

data = data.replace('?', np.nan)

In [35]:
# Lowercase the columns names
data.columns = [var.lower() for var in data.columns]

In [36]:
# retain only the first cabin if more than
# 1 are available per passenger

def get_first_cabin(row):
    try:
        return row.split()[0]
    except AttributeError:
        return np.nan
    
data['cabin'] = data['cabin'].apply(get_first_cabin)

In [37]:
# extracts the title (Mr, Ms, etc) from the name variable

def get_title(passenger):
    line = passenger
    if re.search('Mrs', line):
        return 'Mrs'
    elif re.search('Mr', line):
        return 'Mr'
    elif re.search('Miss', line):
        return 'Miss'
    elif re.search('Master', line):
        return 'Master'
    else:
        return 'Other'
    
data['title'] = data['name'].apply(get_title)

In [38]:
# cast numerical variables as floats

data['fare'] = data['fare'].astype('float')
data['age'] = data['age'].astype('float')

In [39]:
data.head()

,passengerid,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,title
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Mr
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Mrs
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Miss
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Mrs
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Mr

In [40]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   passengerid  891 non-null    int64
 1   survived     891 non-null    int64
 2   pclass       891 non-null    int64
 3   name         891 non-null    object
 4   sex          891 non-null    object
 5   age          714 non-null    float64
 6   sibsp        891 non-null    int64
 7   parch        891 non-null    int64
 8   ticket       891 non-null    object
 9   fare         891 non-null    float64
 10  cabin        204 non-null    object
 11  embarked     889 non-null    object
 12  title        891 non-null    object
dtypes: float64(2), int64(5), object(6)
memory usage: 90.6+ KB

In [41]:
# drop unnecessary variables

features = ['pclass','survived','sex','age','sibsp','parch','fare','cabin','embarked','title']

data = data[features]

In [42]:
cat_variables = [var for var in data.columns if data[var].dtype == 'object']
cat_variables

['sex', 'cabin', 'embarked', 'title']

In [43]:
num_variables = [var for var in data.columns if var not in cat_variables and var != 'survived']
num_variables

['pclass', 'age', 'sibsp', 'parch', 'fare']

In [44]:
target = ['survived']
target

['survived']

In [45]:
# Recap of lists of variables necessary

FEATURES = ['pclass','survived','sex','age','sibsp','parch','fare','cabin','embarked','title']

NUMERICAL_VARIABLES = ['pclass', 'age', 'sibsp', 'parch', 'fare']

CATEGORICAL_VARIABLES = ['sex', 'cabin', 'embarked', 'title']

CABIN = ['cabin']

TARGET = ['survived']

## Separate data into train and test

In [46]:
X_train, X_test, y_train, y_test = train_test_split(
    data.drop('survived', axis=1),  # predictors
    data['survived'],  # target
    test_size=0.2,  # percentage of obs in test set
    random_state=0)  # seed to ensure reproducibility

X_train.shape, X_test.shape

((712, 9), (179, 9))

Test - Features

In [47]:
X_test['cabin'].iat[3]

'B78'

## Preprocessors

### Class to extract the letter from the variable Cabin

In [48]:
class ExtractLetterTransformer(BaseEstimator,TransformerMixin):
    # Extract first letter of variable

    def __init__(self, variables):
        if not isinstance(variables, list):
            raise ValueError('variables should be a list')

        self.variables = variables


    def fit(self, X, y = None):
        return self

    def transform(self, X):
        X = X.copy()
        for var in self.variables:
            X[var] = X[var].apply(lambda x: x if pd.isna(x) else x[0])
        return X

## Pipeline

- Impute categorical variables with string missing
- Add a binary missing indicator to numerical variables with missing data
- Fill NA in original numerical variable with the median
- Extract first letter from cabin
- Group rare Categories
- Perform One hot encoding
- Scale features with standard scaler
- Fit a Logistic regression

In [49]:
# set up the pipeline
titanic_pipe = Pipeline([

    # ===== IMPUTATION =====
    # impute categorical variables with string 'missing'
    ('categorical_imputation', CategoricalImputer(
        imputation_method='missing', variables=CATEGORICAL_VARIABLES
    )),

    # add missing indicator to numerical variables
    ('missing_indicator', AddMissingIndicator(
        variables= NUMERICAL_VARIABLES
    )),

    # impute numerical variables with the median
    ('median_imputation', MeanMedianImputer(
        imputation_method='median',variables=NUMERICAL_VARIABLES
    )),

    # Extract first letter from cabin
    ('extract_letter', ExtractLetterTransformer(variables=CABIN)),

    # == CATEGORICAL ENCODING ======
    # remove categories present in less than 5% of the observations (0.05)
    # group them in one category called 'Rare'
    ('rare_label_encoder', RareLabelEncoder(
        tol=0.05, n_categories= 1, replace_with= 'Rare',variables=CATEGORICAL_VARIABLES
    )),

    # encode categorical variables using one hot encoding into k-1 variables
    ('categorical_encoder', OneHotEncoder(
        drop_last= True, variables= CATEGORICAL_VARIABLES
    )),

    # scale using standardization
    ('scaler', StandardScaler()),

    # logistic regression (use C=0.0005 and random_state=0)
    ('Logit', LogisticRegression(
        C=0.0005, random_state=0)),
])

In [50]:
# train the pipeline
titanic_pipe.fit(X_train, y_train)

Pipeline(steps=[('categorical_imputation',
                 CategoricalImputer(variables=['sex', 'cabin', 'embarked',
                                               'title'])),
                ('missing_indicator',
                 AddMissingIndicator(variables=['pclass', 'age', 'sibsp',
                                                'parch', 'fare'])),
                ('median_imputation',
                 MeanMedianImputer(variables=['pclass', 'age', 'sibsp', 'parch',
                                              'fare'])),
                ('extract_letter',
                 ExtractLetterTransformer(variables=['cabin'])),
                ('rare_label_encoder',
                 RareLabelEncoder(n_categories=1,
                                  variables=['sex', 'cabin', 'embarked',
                                             'title'])),
                ('categorical_encoder',
                 OneHotEncoder(drop_last=True,
                               variables=['sex', 'cabin', 'embarked',
                                          'title'])),
                ('scaler', StandardScaler()),
                ('Logit', LogisticRegression(C=0.0005, random_state=0))])

## Make predictions and evaluate model performance

Determine:
- roc-auc
- accuracy

**Important, remember that to determine the accuracy, you need the outcome 0, 1, referring to survived or not. But to determine the roc-auc you need the probability of survival.**

In [51]:
# make predictions for train set
class_ = titanic_pipe.predict(X_train)
pred = titanic_pipe.predict_proba(X_train)[:,-1]

# determine mse and rmse
print('train roc-auc: {}'.format(roc_auc_score(y_train, pred)))
print('train accuracy: {}'.format(accuracy_score(y_train, class_)))
print()

# make predictions for test set
class_ = titanic_pipe.predict(X_test)
pred = titanic_pipe.predict_proba(X_test)[:,-1]

# determine mse and rmse
print('test roc-auc: {}'.format(roc_auc_score(y_test, pred)))
print('test accuracy: {}'.format(accuracy_score(y_test, class_)))
print()

train roc-auc: 0.850634559062805
train accuracy: 0.6671348314606742

test roc-auc: 0.8787878787878788
test accuracy: 0.6927374301675978

# New predictions with test_titanic

In [52]:
# load the data - it is available open source and online

data = pd.read_csv('clf_model/datasets/test_titanic.csv')

In [53]:
# replace interrogation marks by NaN values

data = data.replace('?', np.nan)

In [54]:
# Lowercase the columns names
data.columns = [var.lower() for var in data.columns]

In [55]:
# retain only the first cabin if more than
# 1 are available per passenger

data['cabin'] = data['cabin'].apply(get_first_cabin)

In [56]:
# extracts the title (Mr, Ms, etc) from the name variable
data['title'] = data['name'].apply(get_title)

In [57]:
# cast numerical variables as floats

data['fare'] = data['fare'].astype('float')
data['age'] = data['age'].astype('float')

In [59]:
FEATURES = ['pclass','sex','age','sibsp','parch','fare','cabin','embarked','title']

In [60]:
# drop unnecessary variables

data = data[FEATURES]

In [65]:
data.tail()

     pclass     sex   age  sibsp  parch      fare cabin embarked   title
413       3    male   NaN      0      0    8.0500   NaN        S      Mr
414       1  female  39.0      0      0  108.9000  C105        C   Other
415       3    male  38.5      0      0    7.2500   NaN        S      Mr
416       3    male   NaN      0      0    8.0500   NaN        S      Mr
417       3    male   NaN      1      1   22.3583   NaN        C  Master

In [68]:
data['cabin'].iat[414]

'C105'

In [66]:
# make predictions for test set
class_ = titanic_pipe.predict(data)
pred = titanic_pipe.predict_proba(data)[:,-1]

In [69]:
class_

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0])

In [70]:
len(class_)

418

In [71]:
class_[0].dtype

dtype('int64')

In [73]:
[p for p in pred]

[0.33527866268929146,
 0.42223102666716966,
 0.34029413922841695,
 0.3247566466988435,
 0.4322112486272021,
 0.32804623306523223,
 0.43758135637255186,
 0.3393282251842542,
 0.45445382715281896,
 0.3242129736288953,
 0.3173721427965734,
 0.345543622376473,
 0.5115735279751898,
 0.3275580492375527,
 0.4791340228278659,
 0.46646674096169227,
 0.34750203159163684,
 0.34591106189724913,
 0.4223616271739918,
 0.44692880154987386,
 0.36599044898556465,
 0.3666281107499571,
 0.45105127809719947,
 0.3795789598291104,
 0.5599286281523762,
 0.31786154259905935,
 0.5301619561433015,
 0.34552911621397714,
 0.369001761976818,
 0.3346821623414416,
 0.3307895047096982,
 0.3359770868725569,
 0.432704691028661,
 0.42657844737801914,
 0.40339636406910245,
 0.3465486341597621,
 0.41646259856843204,
 0.42634731686793764,
 0.3253577207524123,
 0.32354246485894883,
 0.3443083528608108,
 0.3643633232742353,
 0.3212069827133084,
 0.44286100313542187,
 0.4784415635769976,
 0.32515619048953504,
 0.388778042978025,
 0.3297225692202102,
 0.5022046151517011,
 0.433448460937942,
 0.38407516899213323,
 0.3573308675357543,
 0.43937660781551685,
 0.5177170570418531,
 0.34976317481611696,
 0.37455797082590064,
 0.32268723101706664,
 0.346059936113611,
 0.3164307372696805,
 0.5528793308281504,
 0.3271316394531287,
 0.3357014068619161,
 0.3268651990101631,
 0.43981266012085773,
 0.49231381627320076,
 0.43660595850337053,
 0.4409445086134236,
 0.34745386182676435,
 0.4012261301857497,
 0.5236773406358669,
 0.43926163205835517,
 0.3261412724219119,
 0.4240412273860967,
 0.39292550318599745,
 0.5325252437779516,
 0.4266887800884977,
 0.31739162055746845,
 0.4786822865086311,
 0.3361386124296484,
 0.43926163205835517,
 0.3878389271181785,
 0.39499377711945355,
 0.3447803138193387,
 0.3173721427965734,
 0.34176922524126063,
 0.3357785231811216,
 0.4384485345574533,
 0.4270860948535907,
 0.4027750639772561,
 0.38128315996432466,
 0.4300968404541496,
 0.31735688440084964,
 0.5108171907702989,
 0.31739162055746845,
 0.37144398981950144,
 0.3251396614810233,
 0.48279634405498845,
 0.3241689227366363,
 0.42650738233380536,
 0.32319915858478826,
 0.5109176914286024,
 0.336545851561836,
 0.3297225692202102,
 0.3248900450261097,
 0.4553046308342849,
 0.3262840193689381,
 0.33867289285933083,
 0.3297225692202102,
 0.3174753114689227,
 0.3603899647193419,
 0.35372156396488197,
 0.4302208712340109,
 0.4968267131174977,
 0.44072012534044125,
 0.5072807422894716,
 0.34556267267282,
 0.33677355005955156,
 0.45630961962582633,
 0.4064266959619832,
 0.4427556544665857,
 0.44270013108304707,
 0.3277074634591821,
 0.5135039946618662,
 0.3243293453229591,
 0.3297225692202102,
 0.4308535693074545,
 0.3258811141107534,
 0.4279562963166726,
 0.333130927100757,
 0.32541924915481146,
 0.3234454445633102,
 0.4337712710903991,
 0.4337924687410458,
 0.33473687236215544,
 0.320722118838398,
 0.32539418945124066,
 0.3445115692872455,
 0.3371441488446379,
 0.42570946356761663,
 0.33713184803978913,
 0.42833892339644764,
 0.46944340616395397,
 0.4440471726843427,
 0.33833588393441055,
 0.34663522729579216,
 0.3189824175554072,
 0.36778812689753915,
 0.3259136735678129,
 0.34289763225608216,
 0.37428536952624575,
 0.5252397309794629,
 0.3369634835954896,
 0.31727354060653684,
 0.43291639394993114,
 0.36314760906036536,
 0.3253552580222184,
 0.5134999606009875,
 0.4256815542843947,
 0.3682037874299464,
 0.4359102201093128,
 0.43021431122250037,
 0.38757169761265764,
 0.4384924971518707,
 0.31725900254194805,
 0.3695222003202192,
 0.4324995016844815,
 0.41260588016179617,
 0.3304797015574317,
 0.47259873867190283,
 0.42611479387633727,
 0.31732846542222565,
 0.3443844758848436,
 0.3244112083652757,
 0.3368766569969808,
 0.3329866678896887,
 0.44994080348115995,
 0.44349918381755776,
 0.3965895103974793,
 0.4753853827354971,
 0.5068599867186129,
 0.3361386124296484,
 0.3984688950708152,
 0.48610978567216256,
 0.3297225692202102,
 0.558907425577323,
 0.3340202501462998,
 0.443314761302671,
 0.32314379912999974,
 0.41207601100223745,
 0.3336312734214969,
 0.3347886801960224,
 0.34282538305643157,
 0.3653887382532668,
 0.3408955978207462,
 0.38541480199657435,
 0.32317418794052355,
 0.4576865903368089,
 0.4270468640571205,
 0.3375732506975049,
 0.42195391411401995,
 0.4313246721086008,
 0.3726554428066364,
 0.46186914989565636,
 0.44539297526011007,
 0.3370699829598422,
 0.3631172424628624,
 0.4362139732138678,
 0.33732157074774755,
 0.497094005730407,
 0.32515245479318167,
 0.32529497787292455,
 0.3172653170128941,
 0.34736496828566166,
 0.43416387779985594,
 0.4173089668962179,
 0.3917099681081348,
 0.43023516328291694,
 0.36131171405330537,
 0.5340339222957852,
 0.31739162055746845,
 0.4571828370062031,
 0.3261610312187243,
 0.4680240600531742,
 0.326128459005766,
 0.47359640850000834,
 0.44955799161459997,
 0.325633866158604,
 0.4302166979776654,
 0.32225222235488865,
 0.33463309009974807,
 0.3470071587469907,
 0.45468719459136536,
 0.32395867751169755,
 0.3297392173736616,
 0.40285716881899597,
 0.3263833866750088,
 0.38783669407766264,
 0.34616580282457293,
 0.4407449515891485,
 0.5169370845507671,
 0.4730751295511806,
 0.4458605331377347,
 0.40349575713711916,
 0.3173710944008647,
 0.3570593282726997,
 0.36977581240955576,
 0.44623642448057393,
 0.3357571120360107,
 0.4427556544665857,
 0.4424627858222541,
 0.4499800456439001,
 0.32639246220338136,
 0.41535300635576516,
 0.3255824560218779,
 0.32350727797713075,
 0.31732846542222565,
 0.3297225692202102,
 0.3244315666660983,
 0.4403617459058318,
 0.32612579384784446,
 0.3215344457375494,
 0.3261359420092395,
 0.44930472862206977,
 0.4324716343486732,
 0.3562486747225117,
 0.3173721427965734,
 0.3394183213527826,
 0.31732846542222565,
 0.41646259856843204,
 0.32723004201142586,
 0.4037139010708875,
 0.3297225692202102,
 0.5275314263423706,
 0.42908612738086627,
 0.33687610996959827,
 0.4397017833211907,
 0.3363157736533016,
 0.3332861686088832,
 0.33514234400111204,
 0.33782502270021303,
 0.4257967722209077,
 0.3681009937416717,
 0.4302166979776654,
 0.4526486432190641,
 0.4333445308722725,
 0.322358992417864,
 0.3172905755694144,
 0.39991620114427195,
 0.3581708789171879,
 0.31739162055746845,
 0.34461403848903,
 0.4374839022601277,
 0.3368766569969808,
 0.41072431272560306,
 0.3226456199187773,
 0.3249054932274587,
 0.47408345810759467,
 0.3346821623414416,
 0.35221759916869627,
 0.3241598792821686,
 0.3234103597657247,
 0.3713431211009334,
 0.33604744768604544,
 0.32549764716912,
 0.4302166979776654,
 0.49430654111744804,
 0.39974169551105754,
 0.3696053840226623,
 0.3954164654263651,
 0.42379206249733375,
 0.32698226704038524,
 0.345656409328152,
 0.31733162301926077,
 0.4356603637473722,
 0.5215007274549618,
 0.4412010535701759,
 0.42153368294824617,
 0.3385808899340851,
 0.32465331114144796,
 0.33647955107023686,
 0.3248900450261097,
 0.3664145003245036,
 0.35844613944161957,
 0.34893330496396235,
 0.47644872504739155,
 0.325538386803287,
 0.4671906984324355,
 0.3731681357800392,
 0.33604333850006407,
 0.33840314390789666,
 0.4459984983266013,
 0.39038424002626204,
 0.33687610996959827,
 0.45551180296455995,
 0.3246586289965997,
 0.37995672895594107,
 0.3356363998192307,
 0.3456537058964272,
 0.3398113271295367,
 0.37318461182683604,
 0.33883302905565865,
 0.323385380600657,
 0.3423117339601242,
 0.5903366280831538,
 0.35367366495368796,
 0.4275799836729783,
 0.3371441488446379,
 0.44887799080481106,
 0.337712669471939,
 0.43818333914379404,
 0.5069307087894507,
 0.3370699829598422,
 0.34710981338311814,
 0.3403735786686983,
 0.4362523729996469,
 0.3660369011754128,
 0.48130991381212723,
 0.3173700460070091,
 0.3297225692202102,
 0.4281263681102752,
 0.35946302412418424,
 0.4701951523782532,
 0.44373427135097787,
 0.3247566466988435,
 0.5067319818892612,
 0.4496664981693255,
 0.33577905632517613,
 0.4305011290570722,
 0.4828778342644212,
 0.35665680467670513,
 0.3361664173198549,
 0.5132177479504337,
 0.3839563400174532,
 0.33263095658749775,
 0.482564079261108,
 0.5044366110691123,
 0.4216119202116517,
 0.33820737108833454,
 0.3766289321598075,
 0.3652329005437935,
 0.3297225692202102,
 0.3374210183266386,
 0.4228625269300142,
 0.43123938415906743,
 0.3294494167110512,
 0.44892517119975933,
 0.32538405322569497,
 0.32939036643857195,
 0.33866364754158035,
 0.36348029814350924,
 0.40395635875798414,
 0.47950713106108533,
 0.3701219872925791,
 0.3315585864988759,
 0.32206614332528005,
 0.4963646930242879,
 0.3378424729424583,
 0.5287065132686292,
 0.3258784499966641,
 0.3361448379747472,
 0.5049261618810047,
 0.33313868912240135,
 0.48372017316458904,
 0.35577747545321237,
 0.3868704790162793,
 0.38087443234209956,
 0.33553418345006936,
 0.42198149022316656,
 0.43021252473123583,
 0.4321468530234058,
 0.4302166979776654,
 0.509519101609149,
 0.4242948178393872,
 0.31739162055746845,
 0.4882557288586217,
 0.321744545586856,
 0.31739162055746845,
 0.3753508539451285]

In [31]:
len(pred)

179

In [32]:
pred[0].dtype

dtype('float64')